/*@import url('https://fonts.googleapis.com/css?family=WorkSans&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');*/

* {
    box-sizing: border-box;
    font-family: 'Montserrat;
}
body {
    margin: 0;
}
nav {
    background: #333333;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: "montserrat";
    display: inline-block;
    padding: .5em;
}
nav a:hover {
    background: blue;
}

.center-logo{
    font-size: 3em;
    padding: .2em 0;
    margin:auto;
    font-family: "Work Sans";
}

