html{
    background-color: #898e88;
    background-image: url("/img/Snowy_Lake.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

}
table{
    object-position: center;
}


table, th, td {
    border: 1px solid;
    background-color: lightslategrey;
    width:35%;
    margin-left: auto;
    margin-right: auto;
}

#Top_Banner{
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
}

li {
    list-style-position: inside;
}

ol{
    list-style: upper-latin;
}


.header{
    text-decoration: underline ;
    color: midnightblue;
    text-align: center;
}

a:hover{
    color:orange;
}


